# Find it at the trello please
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TERMINATION_SIP_URI=

RETELL_API_KEY=
RETELL_AGENT_ID=
POSTGRES_CONNECTION_STRING=

VOICE_BUCKET_NAME=
SUPABASE_URL=
SUPABASE_KEY=

RABBIT_HOST=