fastapi[standard]
python-dotenv
sqlalchemy
psycopg2
alembic
twilio
websockets
retell-sdk
transformers
torch

numpy
pydantic
supabase
pika
aio_pika
soundfile
uuid-v7
google-genai
langchain_core
langchain-google-genai
pytest
redis[hiredis]