fastapi[standard]
python-dotenv
sqlalchemy
psycopg2
alembic
twilio
websockets
retell-sdk
transformers
torch

numpy
pydantic
supabase
pika
aio_pika
soundfile
uuid-v7
langchain
langchain_core
langchain-google-genai
redis[hiredis]

psycopg[binary,pool]
pgvector
psycopg-pool
langgraph
pytest
